{% extends "base.html" %}
{% block app_content %}
<div class="jumbotron text-center">
        <p> Welcome, {{user_name}} </p>
        <p> Your access token is the following: <p>
        <textarea readonly=true rows="6" cols="70">{{access_token}}</textarea>
        <form method="get" action="{{ url_for('index')}}">
            <input type="submit" value="Continue" >
        </form>
        <form method="get" action="{{ url_for('elixir.logout')}}">
            <input type="submit" value="Log out">
        </form>
</div>
{% endblock %}