{% extends "base.html" %}
{% block app_content %}
<div class="jumbotron" role="region">
  <div class="container" style="max-width: 600px">
        <p class="lead text-center">
          Welcome, {{user_name}}!
        </p>
        <p class="text-center">
          Your access token is the following:
        <p>

        <pre class="border border-secondary rounded py-2 px-3 my-4" style="user-select: all;">{{access_token}}</pre>

        <a href="{{ url_for('index')}}" class="btn btn-primary btn-block">Continue</a>
        <a href="{{ url_for('ega.logout')}}" class="btn btn-danger btn-block">Log out</a>
  </div>
</div>
{% endblock %}
