version: '3.7'
services:
  oidc:
    container_name: oidc
    build:
      context: ./oidc
      dockerfile: Dockerfile
    image: mock-oidc-user-server
    environment:
      - PORT=9090
      - HOST=oidc
      - CLIENT_ID=XC56EL11xx
      - CLIENT_SECRET=wHPVQaYXmdDHg
      - CLIENT_REDIRECT_URI=http://localhost:8080/elixir/login
      - AUTH_ROUTE=/auth
      - INTROSPECTION_ROUTE=/token/introspection
      - JWKS_ROUTE=/jwks
      - REVOCATION_ROUTE=/token/revocation
      - TOKEN_ROUTE=/token
      - USERINFO_ROUTE=/userinfo
    ports:
      - 9090:9090
  cega:
    container_name: cega
    image: egarchive/lega-base:release.v0.2.0
    volumes:
      - ./cega-users:/cega
    command: ["python", "/cega/cega-mock.py", "0.0.0.0", "8443", "/cega/users.json"]
    environment:
      - LEGA_INSTANCES=dummy
      - CEGA_USERS_PASSWORD=dummy
      - CEGA_USERS_USER=dummy
    ports:
      - 8443:8443
  auth:
    container_name: auth
    build:
      context: ../
      dockerfile: Dockerfile
    depends_on:
        - oidc
        - cega
    environment:
      - ELIXIR_ID=XC56EL11xx
      - ELIXIR_ISSUER=http://oidc:9090
      - ELIXIR_SECRET=wHPVQaYXmdDHg
      - ELIXIR_SCOPE=ga4gh_passport_v1
      - CEGA_AUTHURL=http://cega:8443/lega/v1/legas/users/
      - CEGA_ID=dummy
      - CEGA_JWTISSUER=http://auth:8080
      - CEGA_JWTPRIVATEKEY=keys/sign-jwt.key
      - CEGA_JWTSIGNATUREALG=ES256
      - CEGA_SECRET=dummy
      - LOG_LEVEL=info
      - S3INBOX=inbox.ega.nbis.se
    volumes:
      - ../keys:/keys
      - ../:/sda-auth
    image: sda-auth
    ports:
      - 8080:8080
